# Database (bun:sqlite)
KANTSUSHA_DATABASE_URL=./db/kantsusha.db

KANTSUSHA_ORIGINS="http://localhost:*,http://127.0.0.1:*"

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
KANTSUSHA_AUTH_SECRET="somestring"
