@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
  font-family: 'JetBrainsMono NF';
  src: url('/fonts/JetBrainsMonoNerdFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    --font-main: 'JetBrainsMono NF', monospace;
  }

  [data-color-scheme='light'] {
    color-scheme: light;
    --color-background: #faf4ed;
    --color-surface: #fffaf3;
    --color-surface-raised: #dfdad9;
    --color-surface-sunken: #f4ede8;
    --color-text: #575279;
    --color-text-muted: #9893a5;
    --color-text-on-primary: #ffffff;
    --color-primary: #b4637a;
    --color-primary-hover: #cd7a8e;
    --color-primary-active: #9e5266;
    --color-secondary: #ea9d34;
    --color-success: #56949f;
    --color-warning: #ea9d34;
    --color-error: #d7827e;
    --color-info: #286983;
    --color-border: #797593;
    --color-border-strong: #cecacd;
    --color-ring: rgba(180, 99, 122, 0.3);
    --color-overlay: #f2e9e1;
  }

  [data-color-scheme='dark'] {
    color-scheme: dark;
    --color-background: #191724;
    --color-surface: #1f1d2e;
    --color-surface-raised: #403d52;
    --color-surface-sunken: #21202e;
    --color-text: #e0def4;
    --color-text-muted: #6e6a86;
    --color-text-on-primary: #ffffff;
    --color-primary: #eb6f92;
    --color-primary-hover: #f08fad;
    --color-primary-active: #c9597a;
    --color-secondary: #f6c177;
    --color-success: #9ccfd8;
    --color-warning: #f6c177;
    --color-error: #ebbcba;
    --color-info: #31748f;
    --color-border: #908caa;
    --color-border-strong: #524f67;
    --color-ring: rgba(235, 111, 146, 0.3);
    --color-overlay: #26233a;
  }
}

@theme {
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);
  --color-surface-raised: var(--color-surface-raised);
  --color-surface-sunken: var(--color-surface-sunken);
  --color-text: var(--color-text);
  --color-text-muted: var(--color-text-muted);
  --color-text-on-primary: var(--color-text-on-primary);
  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-primary-active: var(--color-primary-active);
  --color-secondary: var(--color-secondary);
  --color-success: var(--color-success);
  --color-warning: var(--color-warning);
  --color-error: var(--color-error);
  --color-info: var(--color-info);
  --color-border: var(--color-border);
  --color-border-strong: var(--color-border-strong);
  --color-overlay: var(--color-overlay);
  --color-ring: var(--color-ring);
}
html {
  font-family: var(--font-main);
}
body {
  min-height: 100vh;
  margin: 0;
  background-attachment: fixed;
  background-color: var(--color-background);
  background-size: 100vw 100vh;
  color: var(--color-text);
}

button {
  cursor: pointer;
}
